.main-about {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.about-wrap {
  margin-top: 100px;
  margin-right: 50px;  
}

.about-wrap-title {
  margin: 20px 0;
  font-size: 40px;
  line-height: 46px;
}

/*Перенос слов*/
.about-wrap-title {
  word-wrap: break-word; 
  white-space: normal;
}

.about-wrap-description {
  font-size: 16px;
  line-height: 20px;
}

.about-wrap-description p {
  margin-top: 20px;
}

.about-image {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}

/*Фиолетовая-черта*/

.about-image::before {
  content: "";
  position: absolute;
  top: auto;
  bottom: 27px;
  left: -25px;
  width: 60px; 
  height: 20px; 
  background-color: #8d9ace;
  transform: rotate(0);  
  z-index: 10; 
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-wrap {
    width: 90%;
    margin-top: 0px;
    margin-right: 0px;  
    position: relative;
    text-align: left;
  }
  
  .about-wrap-title {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 28px;
    line-height: 32px;
    margin: 15px 0;
    white-space: nowrap;
  }

  .about-wrap-description {
    font-size: 13px;
    line-height: 16px;
  }

  .about-wrap-description p {
    margin-top: 20px;
  }

  .about-image {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}

  .about-image::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 1px;
    left: 10px;
    width: 40px;
    height: 14px;
    background-color: #8d9ace;
    transform: rotate(90deg);
    z-index: 10;
    border-radius: 3px;
  }

}