.main-intro-container {
  width: 950px;
  margin: auto;
}

/*Центрируем блок слайдера*/
.intro-anxiety {
  position: relative;
  text-align: center;
  margin: auto;
}

.intro-anxiety-title {
  text-align: left;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 37px;
}

.slick-sliders {
  display: flex;
  height: 100%;
  margin: auto;
}

.slick-sliders .slick-list {
  height: auto;
  width: 100%;
}

.slick-sliders .slick-track {
  margin-top: 40px;
  min-height: 260px;
  width: auto;
}

.it-bothers-me-group {
  text-align: center;
  position: relative;
  /* left: 0px;
  top: 0px; */
  z-index: 10;
}

/*Расположение фраз на слайде*/
.it-bothers-me-item {
  display: inline-flex;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 10;
}

.it-bothers-me-item > span {
  display: inline-block;
  width: 100%;
  padding: 16px;
  line-height: 16px;
  font-size: 13px;
  color: black;
  margin: 10px;
  cursor: pointer;
  box-shadow: -2px 3px 5px #11111115;
  border-radius: 100px;
  transition: background-color 0.5s ease;  
  overflow: visible;
  background-color: white;
}

/*Стили при нажатии*/
.it-bothers-me-item.active > span {
  background-color: #8d9ace; 
  color: white; 
  /* box-shadow: none;  */
  box-shadow: -2px 3px 5px #11111115;
  filter: drop-shadow(0px 2px 6px rgba(17, 17, 17, 0.15)); 
  border-radius: 100px;
}

.blue-button > a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 300px;
}

.slick-dotted .slick-slider {
  margin: auto;
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  bottom: -5px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  padding: 0;
  width: 30px; 
  height: 30px;
  margin: 0 1px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 30px; 
  height: 30px; 
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 0.25;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px; 
  position: absolute;
  top: 0;
  left: 0;
  /* width: 30px; 
  height: 30px;  */
  content: '•';
  text-align: center;
  opacity: .25;
  color: #BFA4CE;; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #7264AA; 
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main-intro-container {
    width: 85%;
    margin: auto;
  }

  .intro-anxiety-title {
    text-align: center;
  }

  .slick-sliders {
    display: flex;
    height: 100%;
    margin: auto;
    flex-direction: column;
  }

  .slick-sliders .slick-track {
    margin-top: 20px;
  }

  .it-bothers-me-group {
    width: 90% !important;
  }

  .it-bothers-me-item {
    margin-top: 20px;
    display: block; /* Изменяем на блочный элемент */
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%; /* Расширяем элемент на всю доступную ширину */
  }

  .it-bothers-me-item > span {
    display: block; /* Изменяем на блочный элемент */
    width: auto;
    padding: 16px;
    line-height: 16px;
    font-size: 13px;
    color: black;
    margin: 10px auto; /* Центрируем элементы по горизонтали */
    cursor: pointer;
    box-shadow: 0px 3px 5px #11111115;
    border-radius: 100px;
    transition: background-color 0.5s ease;
    overflow: visible;
  }

  .it-bothers-me-item.active > span {
    background-color: #8d9ace; 
    color: white; 
    /* box-shadow: none;  */
    box-shadow: 0px 3px 5px #11111115;
    filter: drop-shadow(0px 1px 1px rgba(17, 17, 17, 0.15)); 
    border-radius: 100px;
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    bottom: -45px;
  }

}