.try-free-wrap {
  margin-bottom: 100px;
}

.try-free-description {
  line-height: 24px;
  margin-bottom: 20px;
}

.slick-slider .center .slick-initialized {
  height: 650px !important;
}

.try-free-title {
  text-align: left;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 20px;
}

.try-free-slide {
  position: relative;
  display: flex !important;
  flex-direction: column;
  background-color: #e5e0f9;
  padding: 30px 20px;
  border-radius: 20px;
  width: 390px !important;
}

.picture-and-theme {
  background-color: gray; 
  width: 100%; 
  min-height: 150px; 
  border-radius: 10px;
}

.slide-description-title {
  padding: 10px 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.slide-description-subtitle {
  line-height: 20px;
  font-size: 13px;
}

.try-free-slider-container {
  padding-bottom: 50px;
}

.try-free-slider-container .slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.center .slick-center {
  transform: scale(1.1);
  transition: transform 0.6s ease-in-out;
}

.try-free-slider-container .slick-list {
  height: 570px !important;
}

.try-free-slider-container .blue-button {
  margin-top: 70px;
}

.blur-slide {
  filter: blur(2px);
  transition: filter 0.3s ease;
}

.try-free-slider-container .slick-track {
  margin-top: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .try-free-wrap {
    margin-bottom: 100px;
    width: 90%;
    margin: auto;
  }
  
  .try-free-title {
    text-align: center;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .try-free-description {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .try-free-slide-description .slide-description-title {
    font-size: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-weight: 400;
  }

  .try-free-slide-description .slide-description-subtitle {
    font-size: 13px;
  }

  .try-free-slide {
    position: relative;
    display: flex !important;
    flex-direction: column;
    background-color: #e5e0f9;
    padding: 30px 20px;
    border-radius: 20px;
    width: 360px !important;
    align-items: center;
  }

  .try-free-wrap .blue-button {
    width: 100%;
  }
  
}
