.arrow-left {
  left: -60px; 
  background: url('../images/Left-2.svg') no-repeat;
  background-position: center center;
  width: 30px; 
  height: 30px; 
  position: absolute; 
  border: none; 
  cursor: pointer;
}

[dir='rtl'] .arrow-left::before {
  right: -60px; 
  left: auto;
  background: url('../images/Left-2.svg') no-repeat;
  width: 30px; 
  height: 30px; 
  position: absolute; 
  border: none; 
}

.arrow-right {
  right: -60px; 
  background: url('../images/Right-2.svg') no-repeat;
  background-position: center center;
  width: 30px; 
  height: 30px; 
  position: absolute; 
  border: none; 
  cursor: pointer;
}

[dir='rtl'] .arrow-right {
  right: auto; 
  left: -60px;
  background: url('../images/Right-2.svg') no-repeat;
  width: 30px; 
  height: 30px; 
  position: absolute; 
  border: none; 
}

.arrow-left,
.arrow-left::before,
.arrow-right,
.arrow-right {
  top: 45%;
}