:root {
  --white: #fff;
  --black:#000;
  --blue: #421DD8;
  --link: #3F3176;

  --main_1: #7264AA;
  --main_2: #BFA4CE;
  --main_3: #EFE1F0;
  --main_4: #8D9ACE;
  --main_5: #917286;

  --footer: #343639;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-width: 320px;
  height: 100%;
  /* overflow-y: hidden; */
}

h1, h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header li a {
  color: #000;
}

.footer ul li a {
  color: white;
}

.footer {
  color: #fff;
}

.footer-documents a {
  color: #fff; 
}

/*Buttons*/
.blue-button {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 13px;
  background-color: #421DD8;
  padding: 16px 32px;
  border-radius: 15px;
  color: white;
  border: none;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 40px;
  display: inline-block;
}

.blue-button a {
  color: white;
}

section {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .blue-button {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 13px;
    background-color: #421DD8;
    padding: 16px 32px;
    border-radius: 15px;
    color: white;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 60px;
    display: inline-block;
  }

  
  
}