:root {
  --white: #fff;
  --black:#000;
  --blue: #421DD8;
  --link: #3F3176;

  --main_1: #7264AA;
  --main_2: #BFA4CE;
  --main_3: #EFE1F0;
  --main_4: #8D9ACE;
  --main_5: #917286;

  --footer: #343639;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-width: 320px;
  /* overflow-y: hidden; */
}

h1, h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header li a {
  color: #000;
}

.footer ul li a {
  color: white;
}

.footer {
  color: #fff;
}

.footer-documents a {
  color: #fff; 
}
