/*Header style*/

.header {
  max-width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: relative;
}

.header_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  margin-left: 30px; 
}

.nav_list li {
  margin-right: 30px; 
}

.nav_list li a {
  transition: color 0.3s ease;
}

.nav_list li a:hover {
  color: #9e90da;
}

.header_user img{
  width: 30px;
  margin-right: 20px;
}

.header_logo img {
  max-width: 160px;
  height: auto;
}

.header_right_btn {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: auto; 
}

.header_right_btn {
  margin-left: auto;
}

.header-btn {
  display: block;
  padding: 10px 20px;
  border: 1.6px solid #000;
  border-radius: 15px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000;
  transition: 0.3s ease; 
}

.header-btn:hover {
  color: #9e90da !important;
  border-color: #9e90da; 
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {

  .header {
    /* min-width: 320px; */
    max-width: 100%;
  }
  .nav_list {
    display: none;
  }
}

/*Main*/

.main {
  background-color: #fef5ff;
  /* background-color: #EFE1F0; */
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  align-items: center; 
}

.main-wrap {
  /* align-items: center; */
  padding: 0 20px;
  max-width: 1200px;
}

.main-banner {
  position: relative;
  z-index: 1;
  padding-top: 150px;
}

.intro-wrap {
  max-width: 950px;
  margin: auto; 
  /* text-align: center; */
}

.intro-wrap::before {
  content: "";
  background-image: url('../images/intro.png'); 
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 15%;
  width: 336px; 
  height: 468px; 
  z-index: -1;
  transform: translateX(50%); 
}

.intro-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  font-size: 64px;
  line-height: 74px;
  margin-bottom: 16px;
}

.intro-title > span {
  width: 100%;
  display: block;
  font-size: 47px;
  line-height: 54px;
  order: 1;
}

.intro-title::after {
  display: block;
  content: "";
  margin-left: 50px;
  height: 3px;
  width: 18%;
  background: #111111;
  border-radius: 2px;
  z-index: 1;
}

.intro-subtitle {
  /* width: 450px; */
  width: 60%;
  text-align: justify;
}


/*Intro-anxiety*/
.intro-anxiety {
  margin-top: 100px;
}


/*Footer style*/

.footer {
  max-width: 100%;
  background-color: #343639;
  padding: 20px 20px;
  /* min-width: 320px; */
}

.footer-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-footer {
  display: flex;
  align-items: center;
}

.footer-documents {
  margin-right: 100px;
}

.footer-documents li {
  margin-bottom: 10px;
}

.footer-info li {
  margin-bottom: 10px;
}

.soc_networks ul {
  display: flex;
}

.soc_networks ul li {
  margin-right: 10px; 
}

.soc_networks img {
  width: 24px; 
}

.container {
  display: flex;
  /* justify-content: space-between;
  align-items: center;
  margin: 0 auto; */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .footer {
    padding: 50px 20px;
    max-width: 100%;
  }

  .footer .nav_list li {
    margin-right: 15px; 
  }

  .footer .nav_list {
    margin-left: 10px; 
  }

  .center-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-documents {
    margin-right: 30px;
  }


}


@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 30px;
    /* display: flex; */
  }

  .footer-wrap {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav_list {
    margin-left: 10px;
    flex-direction: column;
  }

  .center-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}






/*Скрытое меню*/
/* .header_nav {
  width: 50%;
  height: 100vh;
  padding-top: 152px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.header_nav.header_nav-show {
  display: block;
}
.nav_active{
  font-weight: bold;
}

.nav_list a.active {
  font-weight: 500;
}
.header-btn {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */



/* .header_btn {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  z-index: 21;
  background-image: url('../images/menu.svg');
  cursor: pointer;
}

.menu_close {
  background-image: url("../images/close.svg");
} */