/*Header style*/

.header {
  max-width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: relative;
}

.header_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  margin-left: 30px; 
}

.nav_list li {
  margin-right: 30px; 
}

.nav_list li a {
  transition: color 0.3s ease;
}

.nav_list li a:hover {
  color: #9e90da;
}

.header_user img{
  width: 30px;
  margin-right: 20px;
}

.header_logo img {
  max-width: 160px;
  height: auto;
}

.header_right_btn {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: auto; 
}

.header_right_btn {
  margin-left: auto;
}

.header-btn {
  display: block;
  padding: 10px 20px;
  border: 1.6px solid #000;
  border-radius: 15px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000;
  transition: 0.3s ease; 
}

.header-btn:hover {
  color: #9e90da !important;
  border-color: #9e90da; 
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {

  .header {
    /* min-width: 320px; */
    max-width: 100%;
  }
  .nav_list {
    display: none;
  }
}

/*Main*/
.main {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
  /* max-width: 100%; */
  background-color: #fef5ff;
}
.main-wrap {
  max-width: 1200px;
  padding: 0 20px;
}




/*TRY FREE Slider*/

/* .try-free-wrap {
  width: 950px;
  margin: auto;
  background-color: #8d9ace;
} */


/* 
.try-free-slider-container {
  width: 800px;
  margin: auto;
  background-color: #343639
}

.try-free-slide {
  background-color: #E3DBFF;
  padding: 30px 20px;
  max-width: 390px;
  border-radius: 20px;
}

.picture-and-theme {
  background-color: gray; 
  width: 100%; 
  height: 200px; 
  border-radius: 10px;
} */

/*Footer style*/

.footer {
  max-width: 100%;
  background-color: #343639;
  padding: 20px 20px;
  /* min-width: 320px; */
}

.footer-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-footer {
  display: flex;
  align-items: center;
}

.footer-documents {
  margin-right: 100px;
}

.footer-documents li {
  margin-bottom: 10px;
}

.footer-info li {
  margin-bottom: 10px;
}

.soc_networks ul {
  display: flex;
}

.soc_networks ul li {
  margin-right: 10px; 
}

.soc_networks img {
  width: 24px; 
}

.container {
  display: flex;
  /* justify-content: space-between;
  align-items: center;
  margin: 0 auto; */
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

  .footer {
    padding: 50px 20px;
    max-width: 100%;
  }

  .footer .nav_list li {
    margin-right: 15px; 
  }

  .footer .nav_list {
    margin-left: 10px; 
  }

  .center-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-documents {
    margin-right: 30px;
  }


}


@media screen and (max-width: 767px) {
  .footer {
    padding: 40px 30px;
    /* display: flex; */
  }

  .footer-wrap {
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .nav_list {
    margin-left: 10px;
    flex-direction: column;
  }

  .center-footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}






/*Скрытое меню*/
/* .header_nav {
  width: 50%;
  height: 100vh;
  padding-top: 152px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.header_nav.header_nav-show {
  display: block;
}
.nav_active{
  font-weight: bold;
}

.nav_list a.active {
  font-weight: 500;
}
.header-btn {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */



/* .header_btn {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  z-index: 21;
  background-image: url('../images/menu.svg');
  cursor: pointer;
}

.menu_close {
  background-image: url("../images/close.svg");
} */