/*Header style*/

.header {
  background-color: #fff;
  padding: 20px 0;
  position: relative;
}

.header_wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav_list {
  display: flex;
  margin-left: 30px; 
}

.nav_list li {
  margin-right: 30px; 
}

.header_user img{
  width: 24px;
  margin-right: 20px;
}

.header_logo img {
  max-width: 160px;
  height: auto;
}

.header_right_btn {
  display: flex;
  align-items: center;
}

.header_logo {
  margin-right: auto; /* Pushes header_logo to the left */
}

.header_right_btn {
  margin-left: auto;
}

.header-btn {
  display: block;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 15px;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000;
}


/*Скрытое меню*/
/* .header_nav {
  width: 50%;
  height: 100vh;
  padding-top: 152px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.header_nav.header_nav-show {
  display: block;
}
.nav_active{
  font-weight: bold;
}

.nav_list a.active {
  font-weight: 500;
}
.header-btn {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */



/* .header_btn {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  z-index: 21;
  background-image: url('../images/menu.svg');
  cursor: pointer;
}

.menu_close {
  background-image: url("../images/close.svg");
} */











/*Footer style*/

.footer {
  background-color: #343639;
  padding: 20px 0;
}

.footer-wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-footer {
  display: flex;
  align-items: center;
}

.footer-documents {
  margin-right: 100px;
}

.footer-documents li {
  margin-bottom: 10px;
}

.footer-info li {
  margin-bottom: 10px;
}

.soc_networks ul {
  display: flex;
}

.soc_networks ul li {
  margin-right: 10px; 
}

.soc_networks img {
  width: 24px; 
}

.container {
  display: flex;
  /* justify-content: space-between;
  align-items: center;
  margin: 0 auto; */
}